Package: com.kevll.wechatredenvelopeshelper
Name: WeChatRedEnvelopesHelper
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: kevll
Author: kevll
Section: Tweaks
Version: 0.0.1-36+debug
Installed-Size: 200
